.ui__calendar {
	background: whitesmoke;

	/*.calendar {
		display: flex;
		flex-wrap: wrap;
	}*/

	.calendar__month {
		/*flex-basis: auto;
		background: gold;
		width: 28%;
		margin: 20px;*/

		dt {
			font-size: 20px;
		}

		dd {
			
		}
	}

	ol {
		display: flex;
		flex-wrap: wrap;

		.calendar__date {
			/*flex-basis: (100%/7);
			margin: 0;
			text-align: center;*/

			/*display: block;
			float: left;
			margin: 5px;

			&:nth-child(8n) {
				clear: left;
			}*/

			span {
				display: block;
			}

			.data__date {
				font-size: 125%;
			}

			.data__day {
				font-weight: 300;
			}

			.data__day-index {
				font-size: 40%;
			}
		}
	}
}