.ui__calendar {

	/*.calendar {
		display: flex;
		flex-wrap: wrap;
	}*/

	.calendar__month {
		/*flex-basis: auto;
		width: 20%;
		padding-left: 20px;
		padding-right: 20px;
		margin-top: 20px;
		margin-bottom: 20px;*/

		dt {
			font-size: 14px;
			font-weight: 700;
		}

		dd {
			
		}
	}

	ol {
		display: flex;
		flex-wrap: wrap;

		.calendar__date {
			flex-basis: (100%/7);
			margin: 0;
			text-align: center;
			font-size: 9px;

			/*display: block;
			float: left;
			margin: 5px;

			&:nth-child(8n) {
				clear: left;
			}*/

			span {
				display: block;
			}

			.data__date {
				font-size: 125%;
			}

			.data__day {
				font-weight: 300;
			}

			.data__day-index {
				font-size: 40%;
			}
		}
	}
}