extends _master/_default

block _masthead	

block _content
	section.container
		.row
			.col-xs-6
				#app--react

			.col-xs-6
				#app--vue
				//- vueapp

block _footer
	section
		.container
			p Powered by pix'ie dust. Fuelled by tea. &#x2615; <a href="http://pix8.co.uk" target="_blank">pix8 Ltd</a> &copy; 2019.
